* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

body {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('https://s2.glbimg.com/n7CEmj-uVksItNnL80jw1Et8Pas=/0x0:1920x1318/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_f035dd6fd91c438fa04ab718d608bbaa/internal_photos/bs/2019/q/D/2q9HZ7RLAMBFCu89EmKg/bitcoin-2007912-1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
}
h1{    
font-family: 'Fira Code';
font-style: normal;
font-weight: 700;
font-size: 60px;
color: #FFFFFF;
}
label {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    top: 70px;
    left: 306px;
}

#box {
    margin: 50px;
    width: 1400px;
    height: 650px;
    left: 306px;
    top: 90px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.06);
    gap: 10px;    
}

ul li {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}
span{
    color:#FFE713;
}
#text-input {
    position: absolute;
    width: 171px;
    height: 48px;
    left: 306px;
    top: 100px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;   
}
.coins-title{
    text-align: center;    
    color: #FFFFFF;
    padding: 5px;
}
#btn-search {
    box-sizing: border-box;
    position: absolute;
    width: 171px;
    height: 48px;
    left: 491px;
    top: 100px;
    background: #96EB95;
    border: 1px solid #96EB95;
    border-radius: 10px;
}